:root{
    --total-width: 250px;
    --total-height: 300px;
    --border-props: 1px solid #ccc;
    --border-radius: 10px;
    --design-color: darkcyan;
}

body{
    background: #fff;
}
.Box {
    felx: 0 0 auto;
    transition: box-shadow .3s;
    width: var(--total-width);
    height: var(--total-height);
    margin: 10px;
    border-radius: var(--border-radius);
    border: var(--border-props);
    background:linear-gradient(to bottom, lightgray 60%, transparent);
    float: left;
    position: relative;
}
.Box:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.header {
    text-align: left;
    padding: 10px;
    color: #424242;
    font-size: 15px;
    font-weight: bold;
}

.image{
    position: absolute;
    top: 15%;
    border-top: 3px solid var(--design-color);
    border-bottom: 1px solid #ccc;
    background-color: white;
    width: 100%;
    height: 60%;
    text-align: center;
}
img{
    margin: auto;
    width: 95%;
    height: 95%;
}

.date{
    position: absolute;
    top: 76%;
    right: 2px;
    color: dimgrey;
    font-weight: lighter;
    font-size: 10px;

}

.description{
    white-space: normal;
    position: absolute;
    top: 81%;
    padding-left: 10px;
    padding-right: 10px;
    color: dimgrey;
    font-size: 11px;
}

.repoLabel{
    position: absolute;
    height: 6%;
    width: var(--total-width);
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    margin: auto;
    text-align: center;
    color: var(--design-color);
    font-weight: lighter;
    font-size: 12px;
    background-color: #ccc;
    transition: 0.3s;
}

.repoLabel:hover{
    background-color: var(--design-color);
    color: white;
    font-weight: bold;
}


